product-card .card .card-content {
  padding: 0;
  min-height: 350px;
}
category-card .card .card-content {
  min-height: 350px;
}
@media (max-width: 1400px) {
  product-card .card .card-content,category-card .card .card-content {
    min-height: 225px;
  }
}
product-card .card .card-content .card-title {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 2;
}
product-card mz-card-content img, category-card mz-card-content img {

  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  position:relative;
}
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

loading-wrapper {
  flex: 1 0 auto;
}

loading-wrapper mz-progress{
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 999;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}
main {
  transition: opacity 1s;
}
app-root main.loading-show {
  opacity: 0.8;
}
app-root.loading-hidden {
  opacity: 1;
}
mz-progress.loading-hidden {
   opacity: 0;
}
mz-progress.loading-show {
  opacity: 1;
}

mz-parallax .container h1 {
  z-index: 1;
  position: relative;
  color: #80cbc4;
  margin-top: 50px;
}
mz-parallax .container {
  text-align: center;
}
navbar nav {
  background: #546e7a;
}
.bgimage {
  background: url("assets/bg.png");
}

