product-card .card .card-content  {
  padding: 0;
}
product-card .card .card-content .card-title {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 2;
  text-shadow: #80cbc4 2px 1px;
}
product-card mz-card-content img, category-card mz-card-content img {

  z-index: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
  margin: auto;
  position:relative;
}
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.flex-wrapper {
  display: flex;
  flex-direction: column;
}
.card-content .flex-wrapper .flex-grow {
  max-height: 275px;
}
.flex-grow {
  flex: 1 0 auto;
}

wcubed-app {
  flex: 1 0 auto;
}

wcubed-app mz-progress{
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 999;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}
main {
  transition: opacity 1s;
}
app-root main.loading-show {
  opacity: 0.8;
}
app-root.loading-hidden {
  opacity: 1;
}
mz-progress.loading-hidden {
   opacity: 0;
}
mz-progress.loading-show {
  opacity: 1;
}

mz-parallax .container h1 {
  z-index: 1;
  position: relative;
  color: #80cbc4;
  margin-top: 50px;
}
mz-parallax .container {
  text-align: center;
}
navbar nav {
  background: #546e7a;
}
.bgimage {
  background: url("assets/bg.png");
}
nav-cart .collection {
  margin: 0;
}

nav-cart .collection-item, nav-cart ul  {
    width: 350px;
}

.loginModal div.modal {
  width: 600px;
}
#sidenav-btn {
  float:left;
  margin-top:10px;
}
@media(min-width: 990px) {
  #sidenav-btn {
    display: none !important;
  }
}

product-details .card-action {
  display: none;
}
product-details markdown ul li {
  list-style-type: circle !important;
}
product-details markdown ul li, product-details markdown ul li ul li{
  list-style-type: circle !important;
}

.errorCard .card .card-content {
  border: 2px solid red;
  padding: 10px;
}
.errorCard {
  padding-bottom: 5px;
}
.errorCard .card .card-content i {
  margin-top: 10px;
  color: red;
  text-align: center;
}
.errorCard .card .card-content .row {
  margin-bottom: 0;
}
.errorCard .card .card-content .row .col {
  padding: 0;
}

.wizard-nav .card .card-content {
  padding: 0px;
}
.wizard-buttons .card .card-content {
  padding:5px;
}
.wizard-buttons .card .card-content .card-title {
  display: none;
}
.wizard-buttons .card .card-content button {
  height: 50px;
}
.wizard-buttons .card .card-content .row {
  margin: 0;
}

.padding-lg {
  padding: 15px;
}
.shipping-rates ul li .collection .collection-item {
  min-height: 58px;
}
.shipping-rates li {
  background: white;
}

.shipping-rates ul li .collapsible-body {
  padding: 10px;
}
.shipping-rates label {
  color: #333;
}

